<launch>
    <!--Number of robots-->
    <arg name="nr" default="1"/>

   	<arg name="model" value="modquad$(arg nr)" if="$(eval arg('nr') > 9)"/>
  	<arg name="model" value="modquad0$(arg nr)" if="$(eval -1 * arg('nr') > -10)"/>

    <arg name="config_path"/>
    <arg name="uri" default="radio://0/100/2M/0xE7E7E7E7E7"/>
    <arg name="cmd_frequency" default="100"/>

    <!--Initial location-->
    <arg name="init_x" default="0"/>
    <arg name="init_y" default="0"/>
    <!--color for visualization-->
    <arg name="color_r" default="1.0"/>
    <arg name="color_g" default="1.0"/>
    <arg name="color_b" default="0.0"/>
    <arg name="color_a" default="1.0"/>

    <group ns="$(arg model)">

        <!--position controller - what is the position controller in controller.py then? -->
        <node name="controller" pkg="crazyflie_controller" type="crazyflie_controller" output="screen">
            <param name="frame" value="$(arg model)"/>
            <param name="world" value="worldFrame"/>
            <rosparam command="load" 
                  file="$(find modquad_simulator)/config/crazyflie2_gains.yaml"/>
        </node>


        <!--mesh publisher for rviz visualization-->
        <node pkg="mesh_visualization"
              type="mesh_visualization"
              name="mesh_visualization"
              output="screen">
            <param name="mesh_resource" value="package://crazyflie_description/meshes/crazyflie2.dae"/>
            <param name="color/r" value="$(arg color_r)"/>
            <param name="color/g" value="$(arg color_g)"/>
            <param name="color/b" value="$(arg color_b)"/>
            <param name="color/a" value="$(arg color_a)"/>
            <remap from="~input" to="odom"/>
        </node>
    </group>

    <!--Recursively launch next module-->
    <include file="$(find modquad_simulator)/launch/aux/recursive_modquad.launch" if="$(eval arg('nr') - 1 > 0)">
		<arg name="nr" value="$(eval arg('nr') - 1)"/>

        <arg name="init_x" default="0.0"/>
        <arg name="init_y" default="0.0"/>

        <arg name="color_r" default="0.0"/>
        <arg name="color_g" default="1.0"/>
        <arg name="color_b" default="0.0"/>
    </include> 

</launch>
